*{
  font-family:"Trebuchet MS", Helvetica, sans-serif
}

body{
  background-color:rgb(200,250,250);
  text-align:center;
  width: 60%;
  min-width: 250px;
  padding: 10px;
  margin: 10px auto;
}

header{
  font-size:2em;
  font-weight:bold;
  margin:20px;
}

body{
  background:#92bde
  color:#485e74
}

.container{
  max-width:1170px;
  marging-left: auto;
  marging-right: auto;
  padding:2em;
}

#userAge {
  width: 130px;
}

li{
  position:relative;
  left:-40px;
  margin-left:10px;
  display: block;
  padding-bottom:10px;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116, 0.7);
}

.wrapper > *{
  padding:0.7em;
}

.contact{
  background: #ffffff;
}


.labels {
  display: inline-block;
  text-align: right;
  width: 50%;
  padding: 5px;
  margin-top: 30px;
}

  .rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

  .userRatings,
input[type="checkbox"] {
  margin-top: 15px;
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
